header {
  background: #5851ff;
  color: white;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding: 2px 12px;
}

h1 {
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  padding: 0;
  margin: 0;
}

header a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
  background-color: #9c27b0;
  font-weight: bold;
  font-size: .97rem;
  /* padding: 12px; */
  margin: 0;
  padding: 0;
  width: 210px;
  height: 42px;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
  /* height: 35px; */
}
